.App {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App .search-ip {
  background-image: url("./images/pattern-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px;
}

.App .search-ip h1 {
  margin-top: 0;
}
