.App {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App .search-ip {
  background-image: url("./images/pattern-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .search-ip h1 {
  color: rgb(240, 240, 240);
  font-weight: 300;
}

.App .search-ip .show-tracker-data {
  position: relative;
  background-color: #fff;
  padding: 1% 2%;
  margin-top: 50px;
}

.App .search-ip .show-tracker-data ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.App .search-ip .show-tracker-data ul li {
  list-style-type: none;
  padding: 10px;
}
